<!--/*/ <th:block th:fragment="header">/*/-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Drobyshev Maksim">

<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
<link th:href="@{/css/all.min.css}" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" th:href="@{/fav/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/fav/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/fav/favicon-16x16.png}">
<link rel="manifest" th:href="@{/fav/site.webmanifest}">

<style>
    [ng-cloak] {
        display: none !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }

    body {
        min-height: 75rem;
        padding-top: 4.5rem;
    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    const translations = /*[[${translations}]]*/ {};
    const allowedActions = /*[[${allowedActions}]]*/ [];
    /*]]>*/
</script>
<!--/*/ </th:block> /*/-->